.App {
  text-align: center;
}

.navbar-custom .navbar-brand {
  margin: 0;
  color: #fff;
  font-size: 25px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active {
  color: #fff;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 20px;
}
.navbar-custom .navbar-text {
  margin-left: 10px;
  font-size: 18px;
  color: #000;
}
form {
  width: 500px;
  border: 1px solid red;
  margin: 0 auto;
  background-color: #f7f9fcd7;
  margin-top: 40px;
  padding: 10px 10px;
}
.btn-primary {
  padding: 8px 50px;
  margin: 15px auto;
  margin-left: 150px;
}
form label {
  color: #000;
  font-size: 20px;

  font-weight: 600;
  text-transform: uppercase;
}
form .form-control {
  border: 1px solid #d63031;
  /* width: 400px; */
}
.row {
  margin: 0;
}
.repocol ul {
  /* border: 1px solid red; */
  list-style: none;

  padding: 30px 0px;
}
.repocol ul li {
  text-align: center;
  /* border: 1px solid black; */
  padding: 15px 5px;
  margin-bottom: 5px;
  background-color: #f7f9fcd7;
}
.repocol ul li h6 {
  color: #d63031;
  font-size: 22px;
}
.repocol ul li .lang {
  color: #399c00;
  font-size: 18px;
}
.repocol ul li .desc {
  color: #3498db;
}
.usercol input {
  background-color: #f7f9fcd7;
  margin: 0 auto;
  margin-top: 50px;
  color: #000;
}
.btn-success {
  margin-top: 25px;
  text-transform: capitalize;
  padding: 7px 30px;
  margin-bottom: 25px;
}
.card {
  border: 1px solid red;
}
.card-body .card-title h5 {
  color: #d63031;
  font-size: 30px;
}
